.home {
  h1 {
    font-weight: 300;
    width: 65%;
    margin-top: 4rem;

    @include mq-tablet-portrait {
      width: 100%;
      font-size: 1.625rem;
    }

    @include mq-mobile {
      font-size: 1.25rem;
      margin-block: 2rem;
    }
  }
}
